$primary_font_color: #ffffff;
$secondary_font_color: #3b434c;
$span_color: #f7600e;
$btn_primary_color: #f7600e;
$btn_secondary_color: #ffffff;

//мб треба б винести змінні у окремий файлик і просто його підключати

@media screen and (min-width: 320px) {
	.team {
		width: 100%;
	}

	.team-wrapper {
		width: 90%;
		margin: 0 auto;
		text-align: center;

		h2 {
			font: 600 35px sans-serif;
			text-transform: uppercase;

			span {
				color: $span_color;
			}
		}

		p {
			padding: 15px 0 50px 0;
			font: 400 16px/30px sans-serif;
		}
	}

	.team-person {

		img {
			width: 235px;
			height: 280px;
		}

		h3, p, .fa {
			color: #9da1a5;

		}

		h3 {
			margin: 20px 0 20px 0;
			font: 600 25px sans-serif;
			text-transform: uppercase;
		}
	}
}

.social-icons {

	li {
		display: inline-block;
		width: 35px;
		margin-left: 20px;

		&:first-child{
			margin-left: 0;
		}
	}

	.fa {
		width: 35px;
		height: 35px;
		padding: 10px;
		color: #ffffff;
		font-size: 15px;
		background: #9da1a5;
		border-radius: 50%;
	}
}


@media screen and (min-width: 568px) {
	.team-person {
		li {
			display: inline-block;
			width: 45%;
			margin-left: 20px;

			&:first-child{
				margin-left: 0;
			}
		}

		.social-icons {
// якщо це видалити то щось зламається
			li {
				display: inline-block;
				width: 35px;
				margin-left: 20px;

				&:first-child{
					margin-left: 0;
				}
			}
		}
	}
}



@media screen and (min-width: 1200px) {
	.team-person {
		li {
			display: inline-block;
			width: 20%;

			p {
				width: 90%;
			}
		}
	}

	.team-wrapper {
			width: 100%;

			p {
				width: 40%;
				margin: 29px auto 50px auto;
			}
		}
}

